.Detalles-Cast>ul{
    list-style-type: none;
}

.Detelles-Imagen{
    width: 100vw;
}

.Detalles-Botones{
    justify-content: space-between;
}
.Detalles-Botones>button{
    background-color: black;
    color:white;
}