body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-Header {
  display: flex;
  justify-content: space-between;
  background: #111827;
  color: white;
  padding-left: 15px;
}
.App-Menu {
  width: 400px;
  align-items: end;
}

.App-Nav ul {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  list-style-type: none;
}

.App-Nav a {
  text-decoration: none;
  color: white;
}

.App-Nav a.is-active {
  font-weight: bold;
  pointer-events: none;
}
